{% extends "camera/base.html" %}

{% block extra_head_base %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/site_tabs.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css" />
   <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-responsive.css" /> 
    {% block extra_head %}{% endblock %}
{% endblock %}

{% load i18n %}

{% block body %}

                        
                       
<div class="container-fluid">

 <div class="row-fluid">
    
        
		<div class="span2">
		    <ul class="subnav">
		        <li><a href="{%  url camera_edit_password cam %}">Password</a></li>
		        <li><a href="{%  url camera_edit_description cam %}">Description</a></li>
		        
		        <li><a href="{%  url camera_edit_timezone cam %}">Timezone</a></li>
		
		        
		
	
		    </ul>
		</div>


			<div class="span10">
					{% block camerabody %}
					<h1> Select what you want to change about your camera</h1>
					{% endblock %}
			
			</div>
</div>

</div>
{% endblock %}

           