{% extends "camera/edit/base.html" %}

{% load i18n %}
{% load ifsetting_tag %}





{% block head_title %}{% blocktrans %}Edit Camera Password{% endblocktrans %}{% endblock %}






{% block camerabody %}

    <h1>{% trans "Edit the Password" %}</h1>
     
	<form action="{% url camera_edit_password cam %}" method="post">{% csrf_token %}
	<h3>You can change your password here but you must update your camera</h3>
	{{ form.as_p }}
	
	
	<input type="submit" value="Submit" />
	</form>
   
    
{% endblock %}